.container
  margin-top: 24px
  width: 100%
  display: flex
  align-items: start

.goodOrder
  padding-right: 48px
  margin: 0px 48px
  display: flex
  justify-content: start
  align-items: start
  flex-direction: column
  flex-basis: 40%
  border-right: 1px solid #eee

.sale
  margin-bottom: 24px
  color: #ff3d71
  font-size: 14px
  font-weight: 500

.price
  font-size: 32px
  font-weight: bold
  display: flex
  justify-content: center
  align-items: center
  span
    margin-left: 16px
    font-size: 16px
    color: #fff
    flex-basis: 400
    border-radius: 4px
    padding: 2px 8px
    background-color: #ff3d71

.cartButtonWrapper
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
